/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para botones de Notas, Editar, Eliminar */
.notas-button, .editar-button, .eliminar-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.notas-button {
    background-color: #00BCD4;
    color: white;
}

.editar-button {
    background-color: #FFC107;
    color: white;
}

.eliminar-button {
    background-color: #F44336;
    color: white;
}